{% extends "base.html" %}
{% block main %}
      <noscript>
        <p class="noscript">Enable JavaScript</p>
      </noscript>
      <script src="/static/js/{{ adapter }}"></script>
      <script src="/static/js/{{ client }}"></script>
      <script>
        const client = new RelayClient();
        client.call("{{ callee }}");
      </script>
      <section>
        <audio id="audio"></audio>
      </section>
      <section>
        <p id="call-status">Connecting</p>
        <button id="hangup-button">Hang up</button>
      </section>
{% endblock %}
